.header{
text-align: center;
color: aliceblue;
background-color: black;
font-size:30px;
padding: 10px;
}
.container1{
    background-color: orange;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
.container{
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    

  

}
.container h1{
    font-size: 20px;
}
